body {
    text-align: center;
}

.box,
.button,
button {
    border-radius: 3rem;
    border: none;
    font-weight: bold;
    font-size: 2rem;
    width: 25%;
    color: slategrey;
    height: 5rem;
    margin: auto;
    margin: 1rem 1rem;
}

.button:hover,
button:hover {
    color: black;
    transform: scale(1.1);
}


.shadow-box,
.button:hover,
button:hover {
    box-shadow: inset 0 0 5px #666565;
    border: none;
}

div {
    margin: 0.5rem 1rem;
}

.button-green {
    background-color: rgb(203, 235, 209);
}

.container {
    width: 50%;
    margin: 2rem auto;
    padding: 1rem;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.grey-border {
    border: 4px solid grey;
    border-radius: 2rem;
}

.ROCK {
    background-color: rgb(173, 238, 238);
}

.PAPER {
    background-color: rgb(229, 172, 151);
}

.SCISSORS {
    background-color: rgb(226, 221, 183);
}

.round {
    font-size: 2.5rem;
    font-weight: bold;
    color: slategrey;
    margin: 0 auto 1rem auto;
    text-align: center;
}

.no-border {
    border: none;
}


#result {
    font-weight: bold;
}

#result,
#human-result,
#computer-result {
    font-size: 2rem;
}